body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  text-align: center;
}

.register-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  color: #ffffff;
  background-color: #00b900;
  text-decoration: none;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
}

.register-button:hover {
  background-color: #008c00;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
}